/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Change the background color */
body {
    display: block;
    background-color: #FFE8A3; 
    color: #401B01; /* Dark text */
    font-family: font-family: 'Press Start 2P', cursive; /* 'Press Start 2P'; */
    font-size: 10px;
    text-align: left;
}
