/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Change the background color */
body {
    background-color: #FFE8A3; 
    color: #333; /* Dark text */
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 16px;
}

p img {
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
}
